@using TheFipster.Zomboid.ServerControl.Services;

@inject IniFileService FileService
@inject DockerInteropService DockerService
@inject IJSRuntime JsRuntime

<div>
    @if (model.IsReady)
    {
        <span title="Active configuration file">
            <i class="fa-solid fa-file-code"></i>
            @model.ServerIniFilename
        </span>

        <span title="Status of the Docker Daemon">
            <i class="fa-brands fa-docker"></i>
            @model.DockerStatus
        </span>

        @if (model.IsDockerActive)
        {
            <span title="Linked Zomboid Game Container">
                <i class="fa-solid fa-microchip"></i>
                @model.ContainerId
            </span>
        }

        @if (model.IsContainerLinked)
        {
            <span title="State of the Container">
                <i class="fa-solid fa-server"></i>
                @model.ContainerState
            </span>

            <span title="Status of the Container">
                <i class="fa-solid fa-stopwatch"></i>
                @model.ContainerStatus
            </span>
        }
    }
    else
    {
        <span>probes warming up...</span>
    }
</div>