@using TheFipster.Zomboid.ServerControl.Models;
@using TheFipster.Zomboid.ServerControl.Services;

@inject ModStorageService ModStorage
@inject ModConfigService ModConfig
@inject IJSRuntime JsRuntime

<div id="fip-mods-diff" class="fill">
    <div class="mod-diff-container">
        <h2>
            <i class="fa-solid fa-cubes fa-xl"></i>
            Mod Diff
            <span class="fip-smaller">@added.Count() added, @removed.Count() removed, @same.Count() untouched</span>
        </h2>

        <div class="mod-diff-content">
            @if (added.Count() != 0)
            {
                <h3>
                    <i class="fa-solid fa-square-plus"></i>
                    Added
                </h3>
                <ul>
                    @foreach (var mod in added)
                    {
                        <li>
                            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=@mod.WorkshopId" title="Open in steam workshop" target="_blank">
                                <i class="fa-brands fa-steam-symbol fa-xl"></i>
                            </a>

                            <span class="fill">
                                @mod.Name
                                <span class="fip-smaller">(@mod.WorkshopId / @mod.Id)</span>
                            </span>
                        </li>
                    }
                </ul>
            }

            @if (removed.Count() != 0)
            {
                <h3>
                    <i class="fa-solid fa-square-minus"></i>
                    Removed
                </h3>
                <ul>
                    @foreach (var mod in removed)
                    {
                        <li>
                            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=@mod.WorkshopId" title="Open in steam workshop" target="_blank">
                                <i class="fa-brands fa-steam-symbol fa-xl"></i>
                            </a>

                            <span class="fill">
                                @mod.Name
                                <span class="fip-smaller">(@mod.WorkshopId / @mod.Id)</span>
                            </span>
                        </li>
                    }
                </ul>
            }


            @if (same.Count() != 0)
            {
                <h3>
                    <i class="fa-solid fa-square-check"></i>
                    Untouched
                </h3>
                <ul>
                    @foreach (var mod in same)
                    {
                        <li>
                            <a href="https://steamcommunity.com/sharedfiles/filedetails/?id=@mod.WorkshopId" title="Open in steam workshop" target="_blank">
                                <i class="fa-brands fa-steam-symbol fa-xl"></i>
                            </a>

                            <span class="fill">
                                @mod.Name
                                <span class="fip-smaller">(@mod.WorkshopId / @mod.Id)</span>
                            </span>
                        </li>
                    }
                </ul>
            }
        </div>

        <button id="showmods-btn"
                class="fip-button"
                @onclick="() => onShowModsClickAsync()">
            <i class="fa-solid fa-arrow-left"></i>
            Take me back
        </button>
    </div>
</div>
